<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="imag/x-icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400|Montserrat:700' rel='stylesheet' type='text/css'>
    <link  rel="stylesheet" href="../css/all.css">
    <title>Thankyou| Jehad Hlewi</title>
</head>
<body>
    <section class="thankyou">
        <h1>Thank you!</h1>
        <i class="fas fa-check-circle"></i>
        <p>Thanks a bunch for filling that out. It means a lot to me, just like you
           do! We really appreciate you giving us a moment of your time today. 
        </p>
        <button type="submit" class="btn"><a href="http://localhost:7000/">Go Home</a></button>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>


    <script>

       
            const text = gsap.timeline()

            text.from("i",{
                y: -100 ,
                autoAlpha:0,
                duration:2
            }
            )


    </script>

</body>

</html>