*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');



body{
    background-color: #0a192f;
}

.thankyou{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thankyou h1{
    color: #64ffda;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 5rem;
    font-size: 7.5rem;
    font-family: 'Montserrat', sans-serif;
}

.thankyou i{
    color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.9rem;
    color: #e1e1e1;
    position: relative;
    top: 7rem;
}
.thankyou p{
    color: #e1e1e1;
    font-size: 17px;
    margin: 0 auto;
    max-width: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    margin-top: 9rem;
    text-align: center; 
}

.thankyou .btn{
    border: 1.5px solid #64ffda;
    color: #64ffda;
    margin:  30px auto;
    font-family: 'poppins', sans-serif;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transition: .5s all ease-in-out;
    background-color: transparent;
}

.thankyou .btn  a{
     margin: 0 auto;
     font-size: 12px;
     color: #64ffda;
     text-decoration: none;
     padding: 10px 20px;
     width: 100%;
    transition: .5s all ease-in-out;

}


.thankyou a:hover{
    background-color: rgba(38, 252, 216, 0.267);
}


@media (max-width:1000px){
      .thankyou h1{
          font-size: 6rem;
      }
}

@media (max-width:760px){
    .thankyou h1{
        font-size: 5rem;
    }

    .thankyou p{
        max-width: 450px;
        font-size: 15px;
    }

    .thankyou i{

       font-size: 5rem;
    }
}

@media (max-width:560px){
    .thankyou h1{
        font-size: 4.5rem;
    }

    .thankyou p{
        max-width: 400px;
        font-size: 15px;
    }

    .thankyou i{

       font-size: 5rem;
    }
}

@media (max-width:490px){
    .thankyou h1{
        font-size: 3.5rem;
    }

    .thankyou p{
        max-width:320px;
        font-size: 12px;
    }

    .thankyou i{
       font-size: 3rem;
    }
}

@media(max-width:390px){
    .thankyou h1{
        font-size: 3rem;
    }

    .thankyou p{
        max-width:280px;
        font-size: 12px;
    }

    .thankyou i{
       font-size: 3rem;
    }
}

